
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}.auth {
  background-color: blue;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center; 
  height: 100px; 
  line-height: 100px; 
}.form{
  margin:10px;
  padding:10px;
}.name{
  height: 20px;
  margin:10px;
  width: 50%;
}.password{
  height: 20px;
  margin:10px;
  width: 50%;
}.boton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}.boton:hover {
  background-color: #0056b3; 
}.emailbox{
  border: 1px solid black;
  padding:5px;
  margin : 10px;
}.center{
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-left: 10px;
  text-align: center; 
  height: 50px; 
  line-height: 50px;
  
}.center2{
  background-color: rgb(0, 255, 85);
  margin:5px;
  text-align: left; 
  padding:5px;
  height: 300px; 
  border:3px solid green;
  
}
.email-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.email-subject {
  font-size: 24px;
  margin-bottom: 10px;
  color: #687481; 
}

.email-from {
  font-size: 18px;
  margin-bottom: 10px;
  color: #687481; 
}

.email-body {
  font-size: 16px;
  line-height: 1.5;
  color: #687481; 
}


.text {
  color: white;
  display: inline-block; 
  vertical-align: middle; 
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}.header {
  display: flex;
  justify-content: center;
  gap: 800px;
  padding: 10px 20px;
  background-color: #0cdbd8;
  color: white;
  border-bottom: 1px solid #444;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  .selected {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
      .quantity {
        text-decoration: none;
      }
    }

    .quantity {
      background-color: #f00;
      color: white;
      padding: 0px 0px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}

div:hover .quantity {
  text-decoration: none !important;
}
